.product-card {
    display: flex;
    flex-direction: column;
    margin: 2rem 2rem 2rem 2rem;
    width: 15rem;
    height: fit-content;
    .name {
        font-size: x-large;
        line-height: 1.5rem;
    }
    .description,
    .price {
        font-size: medium;
        line-height: 1.5rem;
    }
    .add-to-cart {
    }
}