.profile-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 36%;
    margin-left: 32%;
    .profile-pic {
        height: 4rem;
    }
    .section-name {
        margin-top: 1.5rem;
        font-size: 22px;
        font-weight: 600;
    }
    .cust-name, .login, .address {
        margin-left: 5rem;
        padding-bottom: 2rem;
        border-bottom: 1px solid $light-grey;
    }
    .cust-name {
        display: flex;
        flex-direction: row;
    }
    .profile-detail {
        margin: 0;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.25;
    }
    .pswd-eye-toggle {
        display: flex;
        flex-direction: row;
        cursor: pointer;
        #password {
            color: black;
            background: none;
            border: none;
            box-shadow: none;
            cursor: default;
        }
    }
    .edit-delete-btn {
        display: flex;
        justify-content: center;
        margin-top: 2rem;
    }
}