.form-control {
    label {
        font-weight: 500;
    }
    input {
        width: 20rem;
    }
    input:focus {
        border-width: 2px;
    }
}
.form-control--invalid {
    label {
        color: $danger;
    }
    input {
        border-color: $danger;
        background-color: #ffd1d1;
    }
}