@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

.side-nav {
    height: 100%;
}
.menu-btn {
    display: none;
    @include md {
        display: block;
        width: 2rem;
        height: 2rem;
        background: transparent;
        border: none;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-right: 2rem;
        cursor: pointer;
    }
    span {
        display: none;
        width: 2rem;
        height: 2.5px;
        background: white;
        @include md {
            display: block;
        }
    }
}
.main-title {
    a {
        text-decoration: none;
        color: white;  
        font-family: 'Kdam Thmor Pro', sans-serif;
        @include sm {
            font-size: 2rem;
        }
    }
}
.header-nav {
    display: block;
    @include md {
        display: none;
    }
}