.modal {
	z-index: 100;
	position: fixed;
	margin: 10rem 8rem 0 8rem;
	width: 80%;
	background: white;
	box-shadow: 0 2px 8px rgbd(0, 0, 0, 0.26);
	border-radius: 8px;
	.modal-header {
		width: 100%;
		padding: 1rem 0.5rem;
		background: $primary-color;
		color: white;
		h2 {
			margin: 0.5rem;
		}
	}
	.modal-content {
		padding: 1rem 0.5rem;
	}
	.modal-footer {
		padding: 1rem 0.5rem;
	}
}
.modal-enter {
	transform: translateY(-10rem);
	opacity: 0;
}
.modal-enter-active {
	transform: translateY(0);
	opacity: 1;
	transition: all 200ms;
}
.modal-exit {
	transform: translateY(0);
	opacity: 1;
}
.modal-exit-active {
	transform: translateY(-10rem);
	opacity: 0;
	transition: all 200ms;
}
