.page-container {
    margin: 10rem 8rem 0 8rem;
    @include xl {
        margin: 10rem 3rem 0 3rem;
    }
    @include lg {
       margin: 10rem 2rem 0 2rem;     
    }
    @include sm {
        margin: 10rem 1rem 0 1rem;
    }
    @include xs {
        margin: 10rem 0.5rem 0 0.5rem;
    }
}