@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');


@import '_breakpoints';
@import '_colors';

// pages
@import './pages/user/_auth';


// components
@import './components/formElements/button/_button';
@import './components/uiElements/_backdrop.js';
@import './components/navigation/_mainHeader';
@import './components/navigation/_navbar';
@import './components/navigation/_navLinks';
@import './components/navigation/_sideNav';
@import './components/pageContainer/_pageContainer';
@import './components/formElements/input/_input';
@import './components//uiElements/_modal';


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Kdam Thmor Pro', sans-serif;
}