@mixin each($num) {
    &:nth-child(#{$num}n) {
        @content
    }
}

@import '_breakpoints';
@import '_colors';

// pages
@import './pages/user/_auth';


@import './components/formElements/_button';
@import './components/formElements/_input';
@import './components/formElements/_imageUpload';

@import './components/navigation/_mainHeader';
@import './components/navigation/_navbar';
@import './components/navigation/_navLinks';
@import './components/navigation/_sideNav';
@import './components/navigation/_cartProfileNavLinks';

@import './components/pageContainer/_pageContainer';

@import './components/uiElements/_backdrop';
@import './components//uiElements/_modal';
@import './components/uiElements/_loadingSpinner';
@import './components/uiElements/_avatar';

@import './components/user/_userDetails';
@import './components/user/_updateUser';

@import './components/products/_productCard';
@import './components/products/_products';
@import './components/products/_productModal';


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}